<% content_for :title do %>About<% end %>
<h3>About Damn Driver</h3>
<p>Hey! Thanks for stopping by and giving Damn Driver a run!</p>
<p>DamnDriver.com is for entertainment purposes only.</p>
<h6>Please drive responsibly. You should not operate a mobile device while driving. Obey all applicable laws for the operation of a motor vehicle. Please let a passenger submit a review. Really, just don't be stupid and get you or anyone else killed.</h6>
<p></p>
<p>DamnDriver.com is a Ruby on Rails application, hosted by Heroku.com</p>
<p>The plans for an Android app is underway!</p>
<p>Hopefully we can also get an iPhone app eventually.</p>
<p></p>
<p>Contact us at damndriverdotcom@gmail.com</p>
<h3>Change Log</h3>
<ul>
  <li>5/30/2016 - Beta version released</li>
</ul>
<h3>Future plans</h3>
<ul>
  <li>Ads! (Sorry, but "free" still has a price)</li>
  <li>Minor fixes. Primarily CSS stuff</li>
  <li>Set default "State" on the review based on location</li>
  <li>Allow users to create an account and enter their plates</li>
  <li>Connect to Facebook</li>
  <li>Get emails or Facebook notifications when someone reviews you</li>
  <li>Some behind the scenes stuff. I've got some ugly code that could use some prettying up.</li>
  <li>Suggestions from you!</li>
</ul>
